code {
    background-color: #1b1919;
    padding: 0px 4px;
    border-radius: 4px;
}

pre {
    background-color: #1b1919 !important;
    border-radius: 4px !important;
    overflow-x: auto !important;
    white-space: pre !important;
}

pre code span:first-child {
    padding: 0px 4px !important;
}