<style>

.single-post {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 1rem;
}

.view-counter {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

code {
    background-color: #1b1919;
    padding: 0px 4px;
    border-radius: 4px;
}

pre {
    background-color: #1b1919 !important;
    border-radius: 4px !important;
    overflow-x: auto;
    white-space: pre !important;
}

pre code span:first-child {
    padding: 0px 4px !important;
}

iframe {
    max-width: 100%;
}

@media only screen and (max-width: 800px) {
    .single-post {
        font-size: 14px;
    }
}

</style>